# Flutter
.dart_tool/
.packages
build/
*.iml
.idea/
.vscode/
*.lock
pubspec.lock

# Android
*.apk
*.aab
*.jks

# iOS
ios/Pods/
ios/.symlinks/

# Node.js
node_modules/
.env
.env.prod

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db

# Uploads
uploads/
